html{
    height: 100%;
    max-width: 95%;
    margin: auto;
    color: #435058;
}

body {
    color: #435058;
}

main {
    height: 100%;
    left: 0;
    right: 0;
}

.title {
    font-size: 45px;
    margin-bottom: 20px;
    margin-left: 35%;
}

.coin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#submit {
    font-size: 30px;
    width: 30%;
}