html{
    height: 100%;
    width: 100%;
    color: #435058;
}

body {
    height: 100%;
    width: 100%;
    color: #435058;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.dNone {
    display: none;
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 10%;
    width: 100%;
}

#login, #signup {
    font-size: 30px;
    width: 20%;
    height: 20%;
}

#formLogin {
    margin-top: 10%;
}

.none {
    display: none;
}

main {
    bottom: 0;
    width: 100%;
    height: 90%;
    position: absolute;
}

.splashTitle {
    width: 100%;
    height: auto;
    margin-top: 8%;
}

.splashTitle h1 {
    margin: 0;
}

.bcSelected {
    background-color: white;
}

.bcNone {
    background-color: none;
}

.colorTitle {
    background-color: #D5C5C8; /*lilac*/
}

.half{
    max-width: 95%;
    height: 80%;
    margin: auto;
    top: 0;
    overflow-y: auto;
}

.half2 {
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #D5C5C8;
    width: 100%;
    bottom: 0;
}

.half2 p {
    font-size: 35px;
}

.half h2{
    display: inline-block;
    font-size: 45px;
    margin-left: 40%;
    margin-bottom: 20px;
}

.stats{
    display: flex;
    flex-direction: row;
}

.graph {
    width: 60%;
    float: left;
}

#lineChart {
    width: 100%;
    height: auto;
}

.overviewStats{
    width: 40%;
    height: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.overviewStats li {
    padding-left: 30px;
    padding-right: 30px;
}

.addnew {
    position: absolute;
    right: 10%;
    top: 0;
}