.transactions {
    margin-top: 3%;
}

.table {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.0rem;
    margin: 0;
    margin-bottom: 3%;
    line-height: 1.5;
    border-bottom: 1px solid #d0d0d0;
    flex: 1 1 auto;
}

.sell {
    color: #C14953;
}

.tableHeader {
    display: none;
    font-weight: 700;
    background-color: #f2f2f2;
}

.tableHeader > .TD {
    white-space: normal;
    justify-content: center;
}

.tableRow {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.tableRow:nth-of-type(even) {
    background-color: #f2f2f2;
}

.tableRow:nth-of-type(odd) {
    background-color: #ffffff;
}

.TD {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0px;
    white-space: nowrap;
    border-bottom: 1px solid #d0d0d0;
    justify-content: center;
}

.update {
    flex-grow: .2;
}
